[["Comparing prices"
  "When buying a good or service, comparing many alternatives to find the
  best price. For example, looking at the price per pound of various grocery
  items and picking the one with the lowest price."
  ["habit"]
  [["Saves some money"
    ""
    ["positive"]]
   ["Optimization problem"
    "Involves constantly scanning many options and determining the best one."
    ["engaging"]]]]
 ["Slipways"
  "A video game about colonizing planets and connecting them with trade
  routes."
  ["game" "solitary"]
  [["Optimization problem"]]]]
